In [1]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

What is the highest amount of Netflix consumptions?

In [2]:
df.head()

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73

In [3]:
df.netflix_consumption.max()

17.534818515438925

How many people wear glasses? What's the percentage?

In [42]:
(df.wears_glasses =='yes').sum()

2555

In [35]:
df.wears_glasses.value_counts()['yes']

2555

In [36]:
df.wears_glasses.value_counts('yes')

yes    0.511
no     0.489
Name: wears_glasses, dtype: float64

In [43]:
(df.wears_glasses =='yes').mean()

0.511

What is the most common favorite animal?

How many people's favorite animal is a dog?

In [37]:
df.favorite_animal.value_counts()['dog']

1002

In [38]:
df.favorite_animal.mode()

0    lemur
dtype: object

What is the average netflix consumpton for people that prefer brussel sprouts?

In [44]:
df[df.favorite_vegetable == 'brussel sprouts'].netflix_consumption.mean()

10.00847154798366

What is the most common favorite for people who wear glasses and have more than 40 open browser tabs?

In [46]:
subset = df[df.wears_glasses == 'yes']
subset = subset[subset.open_browser_tabs>40]
subset.favorite_fruit.value_counts()

blueberries    498
apple          477
banana         472
Name: favorite_fruit, dtype: int64